# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencias
node_modules/
.pnp
.pnp.js

# Producción
dist/

# Variables de Entorno (IMPORTANTE: Nunca subas tus tokens o llaves)
.env
.env.local
.env.*.local